In [99]:
import pandas as pd

In [100]:
movie_insights = pd.read_csv('movies_cleaned.csv')
movie_insights.head()

,name,rating,genre,year,score,votes,director,writer,star,country,budget,gross,company,runtime,release_date,release_country
0,The Shining,R,Drama,1980,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,"June 13, 1980",United States
1,The Blue Lagoon,R,Adventure,1980,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,"July 2, 1980",United States
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,"June 20, 1980",United States
3,Airplane!,PG,Comedy,1980,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,"July 2, 1980",United States
4,Caddyshack,R,Comedy,1980,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,"July 25, 1980",United States

In [101]:
# Create Directors table
directors = movie_insights[['director']].drop_duplicates()
# Verify the directors table
directors.index = range(1, len(directors) + 1)
directors.to_csv('directors.csv', index=True, header=False, index_label='Index')

In [102]:
# Create Genres table
genres = movie_insights[['genre']].drop_duplicates()
# Verify the genres table
genres.index = range(1, len(genres) + 1)
genres.to_csv('genres.csv', index=True, header=False, index_label='Index')

In [103]:
# Create Ratings table
ratings = movie_insights[['rating']].drop_duplicates()
# Verify the ratings table
ratings.index = range(1, len(ratings) + 1)
ratings.to_csv('ratings.csv', index=True, header=False, index_label='Index')

In [104]:
# Create Companies table
companies = movie_insights[['company']].drop_duplicates()
# Verify the companies table
companies['company_id'] = range(1, len(companies) + 1)

company_map = companies.set_index('company')['company_id'].to_dict()
companies.to_csv('companies.csv', index=False, header=True)

In [105]:
# Create Countries table
countries = movie_insights[['country']].drop_duplicates()
# Verify the countries table
countries['country_id'] = range(1, len(countries) + 1)

country_map = countries.set_index('country')['country_id'].to_dict()
countries.to_csv('countries.csv', index=False, header=True)

In [106]:
# Create Stars table
stars = movie_insights[['star']].drop_duplicates()
# Verify the stars table
stars.index = range(1, len(stars) + 1)
stars.to_csv('stars.csv', index=True, header=False, index_label='Index')

In [107]:
# Create writers table
writers = movie_insights[['writer']].drop_duplicates()
# Verify the writers table
writers.index = range(1, len(writers) + 1)
writers.to_csv('writers.csv', index=True, header=False, index_label='Index')

In [108]:
# Create Movies table
movies = movie_insights[['name','rating','year','score','votes','country','company','budget','gross','runtime','release_date','release_country']]
movies.head()

,name,rating,year,score,votes,country,company,budget,gross,runtime,release_date,release_country
0,The Shining,R,1980,8.4,927000.0,United Kingdom,Warner Bros.,19000000.0,46998772.0,146.0,"June 13, 1980",United States
1,The Blue Lagoon,R,1980,5.8,65000.0,United States,Columbia Pictures,4500000.0,58853106.0,104.0,"July 2, 1980",United States
2,Star Wars: Episode V - The Empire Strikes Back,PG,1980,8.7,1200000.0,United States,Lucasfilm,18000000.0,538375067.0,124.0,"June 20, 1980",United States
3,Airplane!,PG,1980,7.7,221000.0,United States,Paramount Pictures,3500000.0,83453539.0,88.0,"July 2, 1980",United States
4,Caddyshack,R,1980,7.3,108000.0,United States,Orion Pictures,6000000.0,39846344.0,98.0,"July 25, 1980",United States

In [109]:
# Map dictionaries to movies table
movies['company_id'] = movies['company'].map(company_map)
movies['country_id'] = movies['country'].map(country_map)
movies = movies.drop(columns=['company', 'country'])
movies.to_csv('movies_final.csv', index=False, header=True)

C:\Users\brian\AppData\Local\Temp\ipykernel_22900\1335407579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['company_id'] = movies['company'].map(company_map)
C:\Users\brian\AppData\Local\Temp\ipykernel_22900\1335407579.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['country_id'] = movies['country'].map(country_map)