In [6]:
#import pandas
import pandas as pd
#import matplotlib
import matplotlib.pyplot as plt

In [7]:
#Load global temps csv
global_temps = pd.read_csv(r"C:\\Users\\brian\\Desktop\\portfolio\\climate_change\\original\\GlobalLandTemperatures\\GlobalTemperatures.csv")
global_temps

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [8]:
#Get overview of dataset NA values
global_temps_null = global_temps.isna().sum()
global_temps_null

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

In [9]:
global_temps.dropna()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1200,1850-01-01,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367
1201,1850-02-01,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414
1202,1850-03-01,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341
1203,1850-04-01,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267
1204,1850-05-01,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [16]:
#Highest Land Average Temperature
global_temps.sort_values('LandAverageTemperature',ascending=False).head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
138,1761-07-01,19.021,2.696,NaN,NaN,NaN,NaN,NaN,NaN
91,1757-08-01,17.910,4.035,NaN,NaN,NaN,NaN,NaN,NaN
90,1757-07-01,17.610,4.322,NaN,NaN,NaN,NaN,NaN,NaN
89,1757-06-01,17.115,4.590,NaN,NaN,NaN,NaN,NaN,NaN
137,1761-06-01,16.821,3.166,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Lowest Land Average Temperature
global_temps.sort_values('LandAverageTemperature',ascending=True).head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
216,1768-01-01,-2.080,3.027,NaN,NaN,NaN,NaN,NaN,NaN
96,1758-01-01,-1.503,7.349,NaN,NaN,NaN,NaN,NaN,NaN
396,1783-01-01,-1.431,5.293,NaN,NaN,NaN,NaN,NaN,NaN
756,1813-01-01,-1.385,2.191,NaN,NaN,NaN,NaN,NaN,NaN
49,1754-02-01,-1.249,7.492,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Highest LandMax Temperature
global_temps.sort_values('LandMaxTemperature',ascending=False).head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
3138,2011-07-01,15.482,0.113,21.320,0.131,9.684,0.110,17.568,0.062
3030,2002-07-01,15.354,0.077,21.199,0.075,9.409,0.096,17.487,0.062
3090,2007-07-01,15.230,0.115,21.108,0.116,9.482,0.166,17.485,0.061
3114,2009-07-01,15.231,0.148,21.085,0.100,9.456,0.130,17.578,0.067
3150,2012-07-01,15.076,0.076,21.006,0.079,9.229,0.113,17.450,0.060

In [20]:
#Lowest LandMin Temperature
global_temps.sort_values('LandMinTemperature',ascending=True).head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1284,1857-01-01,1.821,0.924,6.642,4.164,-5.407,3.498,12.972,0.300
1716,1893-01-01,0.500,0.488,5.900,0.799,-5.345,0.480,12.702,0.186
1261,1855-02-01,2.982,1.322,7.604,3.083,-4.947,2.343,13.646,0.402
1500,1875-01-01,1.533,0.672,6.679,1.047,-4.717,1.524,13.027,0.246
1644,1887-01-01,0.824,0.568,6.864,0.545,-4.678,1.038,12.620,0.187

In [22]:
#Highest Land And Ocean Average Temperature
global_temps.sort_values('LandAndOceanAverageTemperature',ascending=False).head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
3186,2015-07-01,15.051,0.086,20.904,0.109,9.326,0.225,17.611,0.058
2982,1998-07-01,15.340,0.074,20.972,0.062,9.715,0.170,17.609,0.062
3175,2014-08-01,14.875,0.115,20.790,0.098,9.047,0.173,17.607,0.064
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3114,2009-07-01,15.231,0.148,21.085,0.100,9.456,0.130,17.578,0.067

In [23]:
#Lowest Land And Ocean Average Temperature
global_temps.sort_values('LandAndOceanAverageTemperature',ascending=True).head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1332,1861-01-01,0.404,0.846,7.743,2.125,-3.256,1.721,12.475,0.299
1644,1887-01-01,0.824,0.568,6.864,0.545,-4.678,1.038,12.620,0.187
1344,1862-01-01,0.685,1.105,7.361,2.394,-4.110,1.745,12.658,0.378
1716,1893-01-01,0.500,0.488,5.900,0.799,-5.345,0.480,12.702,0.186
1355,1862-12-01,1.623,1.010,9.402,2.597,-1.747,1.572,12.732,0.372